# Python
__pycache__/
*.py[cod]
*$py.class
.Python
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/

# Fichiers générés
*.png
*.csv
*.json
*.joblib 